* {
    box-sizing: border-box;
    margin: 0;
}

.page {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("/public/images/oko1.png");
    background-size: 3%;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: white;
    color: black;
    font-size: 100px;
    font-style: italic;
}

.accessible {
    composes: links;
    box-shadow: rgb(113, 103, 124) 0px 5px 15px;
    background-color: #dee2ff;
}

.accessible:hover,
.accessible:focus {
}

.chaotic {
    composes: links;
    box-shadow: rgb(219, 180, 173) 0px 5px 15px;
}
